@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --corfundo: #17a56a; 
    --letrasconteudo: #074105;

    --corheader: #10c772;
    --letraheader: #014406;

    --corbody:  #0e5839; 
    --letrabody: #B3D9FF;

    --cornav: #10c772;
    --letranav: #014406;

    --fontetitulo: rubikbubbles;
}

@font-face {
    font-family: rubikbubbles;
    src: url(fontes/RubikBubbles-Regular.ttf);
}

body {
    background-color: var(--corbody);
}

header {
    background-color: var(--corheader);
    text-align: center;
}

header > h1 {
    padding: 10px;
    color: var(--letraheader);
}

nav {
    background-color: var(--cornav);
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

nav > a {
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    color: var(--letranav);
}

nav > a:hover {
    background-color: var(--corbody);
    color: lightgreen;
    transition-duration: 300ms;
    border-radius: 20px;
}

main {
    background-color: var(--corfundo);
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

main > h2 {
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--letrasconteudo);
}

main > h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-bottom: 10px;
    line-height: 25px;
    text-align: center;
    padding-top: 10px;
    color: var(--letrasconteudo);
}

main h3::before {
    content: "•";
    padding: 2px;
}

.divtexto {
    max-height: 700px;
    max-width: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
    color: var(--letrasconteudo);
    margin-bottom: 70px;
}


main  img {
    margin: auto;
    display: block;
    max-width: 300px;
    box-shadow: 7px 7px 10px var(--corheader);
    margin-bottom: 30px;
}

footer {
    background-color: var(--corheader);
    border-radius: 10px;
    text-align: center;
    margin: 13px 3px -5px 3px;
    color: var(--letrasconteudo);
}